/* font-family: 'Kumbh Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
    background: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif; 
    overflow: hidden;
}

#top {
    position: absolute;
    bottom: 35%;
    right: 52%;
    z-index: -1;
}

#bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}

h1 {
    font-size: 1.125rem;
    color: hsl(229, 23%, 23%);
}

span {
    color : hsl(0, 0%, 59%);
    margin-left: 5px;
}

.middle p {
    margin-top: 0.7em;
    font-size: 0.85rem;
    color : hsl(227, 10%, 46%);
}

footer p {
    margin-top: 0.7em;
    font-size: 0.7rem;
    letter-spacing: 1.5px;
    color : hsl(0, 0%, 59%);
}

.card {
    width: min(90%,360px);
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 13px;
}

header {
    height: 140px;
    background: url("./images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

header img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
    border-radius: 50%;
}

.middle {
    text-align: center;
    padding: 4.5em 0 1.5em 0;
    border-bottom: 1px solid hsl(0, 0%, 81%);
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em 0 1.5em 0;
    text-align: center;
}

@media (max-width:600px) {
    #top {
        bottom: 45%;
        right: 45%;
    }
    
    #bottom {
        top: 52%;
        left: 40%;
    }
}
